.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 7px 10px;
  transition: all .5s ease-in-out;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  &:focus{
    outline: none;
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 2px;
  font-size: 16px;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }
  &:hover{
    background-color: darken($color: $primary, $amount: 15);
  }
}

.block {
  width: 100%;
}